.cover-image {
    width: 140px;
    height: 140px;
}

.default-cover-image {
    background-color: var(--go-ui-color-red-10);
    width: 140px;
    height: 140px;
    color: var(--go-ui-color-primary-red);

    .dashboard-con {
        width: 44px;
        height:44px;
    }
}