.pretitle {
    color: var(--go-ui-color-primary-red);
    font-size: var(--go-ui-font-size-sm);
    font-weight: var(--go-ui-font-weight-medium);
}

.breadcrumb {
    letter-spacing: 0.02em;
    color: var(--go-ui-color-text-light);
    font-size: var(--go-ui-font-size-sm);
}

.submitted {
    color: var(--go-ui-color-text-light);
    font-size: var(--go-ui-font-size-sm);
}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: var(--go-ui-spacing-xs);
}

.developments {
    line-height: 1.5;
    white-space: pre-line;
    color: var(--go-ui-color-text);
}
