.cover-image,
.default-cover-image {
    width: 8.75rem;
    height: 8.75rem;
}

.default-cover-image {
    background-color: var(--go-ui-color-red-10);
    color: var(--go-ui-color-primary-red);

    .dashboard-icon {
        width: 2.75rem;
        height: 2.75rem;
    }
}

.description {
    display: -webkit-box;
    overflow: hidden;
    line-height: var(--go-ui-line-height-md);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}

