.cover-image,
.default-cover-image {
    width: 7rem;
    height: 7rem;
}

.default-cover-image {
    background-color: var(--go-ui-color-red-10);
    color: var(--go-ui-color-primary-red);

    .dashboard-icon {
        width: 2.75rem;
        height: 2.75rem;
    }
}

.description {
    display: -webkit-box;
    overflow: hidden;
    line-height: var(--go-ui-line-height-md);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.report-card {
    padding: var(--go-ui-spacing-sm) var(--go-ui-spacing-sm);
    text-align: left;
}