.page-container {
    padding-top: 0 !important;

    .content {
        padding-top: var(--go-ui-spacing-md)
    }
}

.details {
    position: relative;
}

.sticky-details {
    position: sticky;
    top: 0;
    padding-top: var(--go-ui-spacing-md);    
    padding-bottom: var(--go-ui-spacing-md);
    height: 100vh;
}
