.ai-summary {
    background: var(--go-ui-color-primary-red) ;
    padding-top: var(--go-ui-spacing-4xl) !important;
    height: 100%;
    white-space: pre-line;
    color: var(--go-ui-color-white);

    .summary-container {
        flex-grow: 1;
        min-height: 0;
    }
}